html,
body {
  font-family: "Roboto", sans-serif;
  color: rgb(78, 79, 80);
}

.title {
  font-size: 80px;
  text-align: center;
  padding: 10px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  margin-left: 250px;
}
.container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridElement {
}
